.comment-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.avatar {
    width: 60px;
    height: 60px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0;
    padding-bottom: 16px;
}

.author-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 16px;
}

.author {
    font-weight: bold;
}

.content {
    font-size: 1em;
    padding-right: 16px;
    margin: 0;
}