.comment-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
}

.avatar {
    width: 60px;
    height: 60px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0;
    padding-bottom: 16px;
    width: 100%;
}

.author-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 20px;
    margin: 0;
}

.author {
    font-weight: bold;
    flex: 1;
}

.thumb {
    flex: 1;
    text-align: center;
    margin: 0;
}

.comment-content {
    font-size: 1em;
    padding-right: 16px;
    margin: 0;
}