.detail-container {
    margin-top: 230px;
}

.header {
    position: absolute;
    height: 375px;
    margin-top: 56px;
    top: 0;
    left: 0;
    right: 0;
}

.detail-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 375px;
    width: 100%;
    object-fit: cover;
}

/* for mobile */
@media screen and (max-width: 540px) {
    .detail-container {
        margin-top: 54px;
    }

    .header {
        height: 200px;
        margin-top: 56px;
    }

    .detail-image {
        height: 200px;
    }
}

.detail-text {
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    margin: 0;
    color: white;
    white-space: pre-wrap;
    padding: 0 16px;
}

.overlay-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0%, 0%, 0%, 0.2);
}

.img-description {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 2px;
    right: 16px;
    color: white;
    font-size: 10px;
}