.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 8px;
    height: 100px;
    max-width: 100%;
}

.item-title {
    flex: 4;
    font-size: 1em;
    color: black;
    padding-left: 16px;
    white-space: pre-wrap;
}

img {
    flex: 2;
    padding: 0;
    height: 70%;
    object-fit: contain;
    background-size: contain;
}
