.card {
    margin: 10px 24px;
    height: 100px;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 60%;
    margin: 0 auto;
}

/* for mobile */
@media screen and (max-width: 540px) {
    .content {
        width: 100%;
    }

    .card {
        margin: 10px 8px;
    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    
}


.item-title {
    flex: 4;
    font-size: 1em;
    color: black;
    padding-left: 16px;
    white-space: pre-wrap;
}

.img-container {
    flex: 2;
}

img {
    padding: 0;
    height: 68px;
    width: 68px;
    object-fit: contain;
    overflow: hidden;
}
